<h1>Listing test_sites</h1>

<table>
  <tr>
    <th>Testsuite id pk</th>
    <th>Suite name</th>
    <th>Suite xml file</th>
    <th>Teamnam</th>
    <th>Suite description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_sites.each do |test_site| %>
  <tr>
    <td><%= test_site.testsuite_id_pk %></td>
    <td><%= test_site.suite_name %></td>
    <td><%= test_site.suite_xml_file %></td>
    <td><%= test_site.teamnam %></td>
    <td><%= test_site.suite_description %></td>
    <td><%= link_to 'Show', test_site %></td>
    <td><%= link_to 'Edit', edit_test_site_path(test_site) %></td>
    <td><%= link_to 'Destroy', test_site, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test site', new_test_site_path %>
