<%= form_for(@test_suite) do |f| %>
  <% if @test_suite.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_suite.errors.count, "error") %> prohibited this test_suite from being saved:</h2>

      <ul>
      <% @test_suite.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :testsuite_id_pk %><br />
    <%= f.number_field :testsuite_id_pk %>
  </div>
  <div class="field">
    <%= f.label :suite_name %><br />
    <%= f.text_field :suite_name %>
  </div>
  <div class="field">
    <%= f.label :suite_xml_file %><br />
    <%= f.text_field :suite_xml_file %>
  </div>
  <div class="field">
    <%= f.label :teamnam %><br />
    <%= f.text_field :teamnam %>
  </div>
  <div class="field">
    <%= f.label :suite_description %><br />
    <%= f.text_area :suite_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
