<%= form_for(@test_case_executed) do |f| %>
  <% if @test_case_executed.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case_executed.errors.count, "error") %> prohibited this test_case_executed from being saved:</h2>

      <ul>
      <% @test_case_executed.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :testCase_executed_id %><br />
    <%= f.number_field :testCase_executed_id %>
  </div>
  <div class="field">
    <%= f.label :cobrand %><br />
    <%= f.text_field :cobrand %>
  </div>
  <div class="field">
    <%= f.label :result %><br />
    <%= f.text_field :result %>
  </div>
  <div class="field">
    <%= f.label :failed_reason %><br />
    <%= f.text_area :failed_reason %>
  </div>
  <div class="field">
    <%= f.label :failed_url %><br />
    <%= f.text_area :failed_url %>
  </div>
  <div class="field">
    <%= f.label :failed_screenshot %><br />
    <%= f.text_area :failed_screenshot %>
  </div>
  <div class="field">
    <%= f.label :starttime %><br />
    <%= f.date_select :starttime %>
  </div>
  <div class="field">
    <%= f.label :endtime %><br />
    <%= f.date_select :endtime %>
  </div>
  <div class="field">
    <%= f.label :totaltime %><br />
    <%= f.text_field :totaltime %>
  </div>
  <div class="field">
    <%= f.label :test_suite_id %><br />
    <%= f.number_field :test_suite_id %>
  </div>
  <div class="field">
    <%= f.label :test_plan_id %><br />
    <%= f.number_field :test_plan_id %>
  </div>
  <div class="field">
    <%= f.label :test_case_id %><br />
    <%= f.number_field :test_case_id %>
  </div>
  <div class="field">
    <%= f.label :test_suite_executed_id %><br />
    <%= f.number_field :test_suite_executed_id %>
  </div>
  <div class="field">
    <%= f.label :test_plan_executed_id %><br />
    <%= f.number_field :test_plan_executed_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
