<p id="notice"><%= notice %></p>

<p>
  <b>Testcase executed:</b>
  <%= @test_case_executed.testCase_executed_id %>
</p>

<p>
  <b>Cobrand:</b>
  <%= @test_case_executed.cobrand %>
</p>

<p>
  <b>Result:</b>
  <%= @test_case_executed.result %>
</p>

<p>
  <b>Failed reason:</b>
  <%= @test_case_executed.failed_reason %>
</p>

<p>
  <b>Failed url:</b>
  <%= @test_case_executed.failed_url %>
</p>

<p>
  <b>Failed screenshot:</b>
  <%= @test_case_executed.failed_screenshot %>
</p>

<p>
  <b>Starttime:</b>
  <%= @test_case_executed.starttime %>
</p>

<p>
  <b>Endtime:</b>
  <%= @test_case_executed.endtime %>
</p>

<p>
  <b>Totaltime:</b>
  <%= @test_case_executed.totaltime %>
</p>

<p>
  <b>Test suite:</b>
  <%= @test_case_executed.test_suite_id %>
</p>

<p>
  <b>Test plan:</b>
  <%= @test_case_executed.test_plan_id %>
</p>

<p>
  <b>Test case:</b>
  <%= @test_case_executed.test_case_id %>
</p>

<p>
  <b>Test suite executed:</b>
  <%= @test_case_executed.test_suite_executed_id %>
</p>

<p>
  <b>Test plan executed:</b>
  <%= @test_case_executed.test_plan_executed_id %>
</p>


<%= link_to 'Edit', edit_test_case_executed_path(@test_case_executed) %> |
<%= link_to 'Back', test_case_executeds_path %>
